@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Outfit:wght@300;400;500;600;700&display=swap');

/* 2. Variables define kar le easy use ke liye */
.font-sans {
    font-family: 'Outfit', sans-serif;
}

.font-mono {

    font-family: 'JetBrains Mono', monospace;
    ;
}

@keyframes slide-fade {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-fade {
    animation: slide-fade 0.25s ease-out;
}