@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

/* 2. Variables define kar le easy use ke liye */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.font-mono {
    font-family: 'JetBrains Mono', monospace;
}

:root {
    --test: #d3e9c3;
}

@keyframes slide-fade {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-fade {
    animation: slide-fade 0.25s ease-out;
}